ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;  
}

  .input-padrao {
    display: block;
    margin-bottom: 10px;
    padding: 10px 25px;
    width: 50%; 
  }

h1 {
  text-align: center;
  margin-bottom: 100px;
  color: white;
}

body{
  background-color: #1a69dd;
}

.logo{
  width: 30%;
  border-radius: 100%;
  margin-left: 35%;
}

